@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

//Colors
$violet: #2d2641;
$darkViolet: #2c2830;
$grayishViolet: #837d88;
$blue: #96a9c6;
$almostWhite: #fafafa;
$white: #fff;

//Fonts
$headingFont: "DM Serif Display", serif;
$bodyFont: "Karla", sans-serif;
